@use 'variables' as variables;

#image-cover {
    background: rgba(142, 158, 127, 0.5); 
    height: 100svh;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 181;
}

#introduction-p-intro {
    display: flex;
    height: 129px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #42413F;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#responsive-container-homepage {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 5px;
}

#homepage-quick-services {
    width: 100%;
    display: block;
    max-width: 1200px;
    @media (min-width: variables.$mobile) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }
    @media (min-width: variables.$tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    
    }
}

#image-container {
    background: transparent;
    height: 100svh;
    width: 100%;
    position: relative;
    top: -130px;
    z-index: 180;
    img {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
}

#homepage-cover  {
    height: 100svh; 
    position: relative;
}

#introduction-p {
    display: flex;
    height: 129px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #42413F;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#green-banner {
    background: #8E9E7F;
    height: 120px;
    display: grid;
    place-content: center;
    #green-banner-p {
        color: white;
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 21px;
        padding-left: 7%;
        padding-right: 7%;
        margin: 0;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        @media (min-width: variables.$mobile) {
            padding-left: 5%;
            padding-right: 5%;
            margin-top: 5%;
            margin-bottom: 5%;
            font-size: 26px;
        }
        @media (min-width: variables.$tablet) {
            margin-left: 10%;
            margin-right: 10%;
            font-size: 26px;
        }
    }
}

#description {
    color: #42413F;
text-align: center;
font-family: Roboto;
font-size: 31px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

#box-front {
    position: relative;
    background: #51625C;
    width: 330px;
    height: 330px;
    width: 90vw;
    height: 90vw;
    @media (min-width: 500px) {
        width: 330px;
        height: 330px;
    }
    @media (min-width: 1117px) {
        width: 359px;
        height: 360px;
    }
    display: grid;
    place-content: center;
    color: white;
    .back-information {
        transition: opacity 0.5s;
        position: absolute;
        height: inherit;
        width: inherit;
        display: grid;
        place-content: center;
        opacity: 0;
        p {
            font-family: Roboto;
            text-align: center;
            font-size: 26px;
            font-weight: 800;
            margin: 20px;
        }
    }
    svg {
        transition: opacity 0.5s;
    }
}
#vacuum {
    transition: opacity 0.5s;
}
#homepage-text {
    position: absolute;
    z-index: 300;
    width: 100%;
    height: calc(100svh - 130px);
    display: grid;
    place-content: center;
    z-index: 199;
    transform: translateY(-50px);
    p {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 900;
        line-height: normal; 
        margin-left: 10%;
        margin-right: 10%;
        @media (min-width: variables.$mobile) {
            margin-left: 20%;
            margin-right: 20%;
            font-size: 40px;
        }
    }
}
#banner-responsive {
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#introduction-container-intro {
    max-width: 1200px;
    width: 1200px;
    p {
        font-size: 40px;
        padding-left: 4%;
        @media (min-width: variables.$mobile) {
            padding-left: 6%;
        }
        @media (min-width: variables.$tablet) {
            padding-left: 1%;
        }
    }
}

#main {
    margin-bottom: 20px;
}

#box {
    display: grid;
    place-content: center;
}

#divider-responsive {
    display: flex;
    width: 100%;
    justify-content: center;
    #divider-container {
        width: 83%;
        max-width: 1200px;
        #divider {
            background: #000;
            width: 100%;
            height: 1px;
        }
    }
}