---
import Topnav from "../components/Topnav"
import Navbar from "../components/Navbar"
import "../styles/default.scss"
import img from "../images/landscaper.jpg"
import "../styles/homepage.scss"
import Information from "../components/Information"
import Footer from "../components/Footer"
import "../styles/pages.scss"
---
<html lang="en">
	<head>
		<head>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width" />
			<title>Ismael Services | Services for the Greater Denver Area</title>
			<meta name="description" content="Based in Seattle, Washington, we have experience spanning almost a decade and we strive to deliver quality
			construction projects.">
			<meta property="og:title" content="Ismael Services | Services for the Greater Denver Area"/>
			<meta property="og:site_name" content="Ismael Services"/>
			<meta property="og:type" content="website"/>
			<script type="application/ld+json">
							{
						   "@context" : "https://schema.org",
							"@type" : "LocalBusiness",
							"areaServed": {
							"@type": "GeoCircle",
							"geoMidpoint": {
								"@type": "GeoCoordinates",
								"latitude": 39.7392,
								"longitude": 104.9903
							},
							"geoRadius": 100
						},
						"keywords" : "services, housekeeping, management, cement, janitorial, custodian, cleaning",
						"knowsAbout" : "Housekeeping, Janitorial, Cement, Landscaping, Garden, Custodial, Office Cleaning",
						"knowsLanguage" : "English, Spanish",
						"currenciesAccepted" : "USD",
						"priceRange" : "Request a Free Consultation",
						"name" : "Ismael Services",
					}
			</script>
			<script type="application/ld+json">
					{
				   "@context" : "https://schema.org",
					"@type" : "WebSite",
					"keywords" : "services, housekeeping, management, cement, janitorial, custodian, cleaning",
					"name" : "Ismael Services",
			}
	</script>
		</head>
	</head>
	<body onclick="opacityOn()">
		<div id="homepage-cover">
		<Topnav/>
		<Navbar transparent={false} client:only="react"/>
        <div id="image-container">
            <img src={img.src}/>
    </div>
        <div id="banner"><p>LANDSCAPING SERVICES</p></div>
			<div id="image-cover">
        </div>
        <div id="about-us">
            <div id='about-us-container-responsive'>
                <div id="about-us-container-inner">
                    <div id="about-us-text">
						<p class="body-pages mb">We’re passionate about transforming outdoor spaces into beautiful and functional landscapes. With a deep commitment to enhancing the natural beauty of our surroundings, we've become a trusted name in the world of landscaping. Our mission is to create outdoor havens that reflect the unique visions and lifestyles of our clients.</p>
							<p class="title-pages mb black">Landscaping We <br/>Specialize In</p>
                        <p class="title-pages mb">Landscape Design</p>
                        <p class="body-pages mb">We work closely with you to bring your dreams to life. Our experts carefully craft your ideas and to create outdoor spaces that inspire.</p>
                        <p class="title-pages mb">Lawn Care and Maintenance</p>
                        <p class="body-pages mb">Our lawn care services include mowing, fertilization, weed control, and aeration to ensure your lawn stays lush and healthy year-round.</p>
						<p class="title-pages mb">Garden Design and Maintenance</p>
						<p class="body-pages mb">From flower beds to vegetable gardens, we design, plant, and maintain stunning gardens that add color and vibrancy to your property.</p>
						<p class="title-pages mb">Hardscaping</p>
						<p class="body-pages mb">We specialize in hardscape design and installation, including patios, walkways, retaining walls, and outdoor living spaces that provide functionality and beauty.</p>
						<p class="title-pages mb">Irrigation Systems</p>
						<p class="body-pages mb">Our irrigation experts design and install efficient sprinkler and irrigation systems to keep your landscape well-hydrated while conserving water.</p>
						<p class="title-pages mb">Tree Care</p>
						<p class="body-pages mb">We offer tree pruning, removal, and care services to maintain the health and safety of your trees.</p>
                        <p class="title-pages mb">Outdoor Lightning</p>
						<p class="body-pages">Our outdoor lighting designs illuminate your landscape's best features, enhancing safety and creating an inviting ambiance.</p>
                    </div>
                </div>
            </div>
        </div>
		<Information/>
		<Footer/>
	</body>
</html>