---
import Topnav from "../components/Topnav"
import Navbar from "../components/Navbar"
import "../styles/default.scss"
import "../styles/services.scss"
import commercial from "../images/commercial_cleaning.jpg"
import landscaping from "../images/landscaping_house.jpg"
import cement from "../images/cement_services.jpg"
import Information from "../components/Information"
import Footer from "../components/Footer"
---
<html lang="en">
	<head>
		<head>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width" />
			<title>Ismael Services | Services for the Greater Denver Area</title>
			<meta name="description" content="Based in Seattle, Washington, we have experience spanning almost a decade and we strive to deliver quality
			construction projects.">
			<meta property="og:title" content="Ismael Services | Services for the Greater Denver Area"/>
			<meta property="og:site_name" content="Ismael Services"/>
			<meta property="og:type" content="website"/>
			<link rel="apple-touch-icon" sizes="180x180" href="/favicon/pple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
			<link rel="manifest" href="/site.webmanifest">
			<script type="application/ld+json">
							{
						   "@context" : "https://schema.org",
							"@type" : "LocalBusiness",
							"areaServed": {
							"@type": "GeoCircle",
							"geoMidpoint": {
								"@type": "GeoCoordinates",
								"latitude": 39.7392,
								"longitude": 104.9903
							},
							"geoRadius": 100
						},
						"keywords" : "services, housekeeping, management, cement, janitorial, custodian, cleaning",
						"knowsAbout" : "Housekeeping, Janitorial, Cement, Landscaping, Garden, Custodial, Office Cleaning",
						"knowsLanguage" : "English, Spanish",
						"currenciesAccepted" : "USD",
						"priceRange" : "Request a Free Consultation",
						"name" : "Ismael Services",
					}
			</script>
			<script type="application/ld+json">
					{
				   "@context" : "https://schema.org",
					"@type" : "WebSite",
					"keywords" : "services, housekeeping, management, cement, janitorial, custodian, cleaning",
					"name" : "Ismael Services",
			}
	</script>
		</head>
	</head>
	<body onclick="opacityOn()">
		<div id="homepage-cover">
		<Topnav/>
		<Navbar transparent={true} client:only="react"/>
		</div>
		</div>
		<div id="homepage-quick-services">
            <div id="services-container">
			<div id="introduction-container">
			<p id="introduction-p">Privacy Policy</p>
		</div>
    </div>
		<Footer/>
	</body>
</html>